@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #fff;
    --text: #212121;
    --link: #88a;
    --accent: linear-gradient(90deg, #ffc23c, #fe759b, #ce7fbd, #79a2f4);
    --accentr: linear-gradient(180deg, #ffc23c, #fe759b, #ce7fbd, #79a2f4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #191919;
        --text: #cecece;
        --link: #88a;
        --accent: linear-gradient(90deg, rgb(70, 138, 202), rgb(27, 56, 153), rgb(0, 166, 255));
        --accentr: linear-gradient(180deg, #ffc23c, #fe759b, #ce7fbd, #79a2f4);
    }
}

body {
    color: var(--text);
    background: var(--bg);
    line-height: 1.3em;
    font-size: 18px;
}

.colourful {
    background: var(--accent);
    color: transparent;
    background-clip: text;
}

.colourful-link {
    background: var(--accent);
    color: transparent;
    background-clip: text;
    background-size: 100%;
    border-radius: 0.3em;
    padding: 0 0.25em;
    text-transform: uppercase;
    font-weight: 800;
}

.colourful-link strong {
    color: var(--text);
    background: none;
}

.colourful-link:hover {
    background-clip: border-box;
    color: var(--bg);
}