@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-light: #fff;
    --bg-dark: #191919;

    --text-light: #212121;
    --text-dark: #cecece;

    --link: #88a;
    --light-accent: linear-gradient(90deg, #ffc23c, #fe759b, #ce7fbd, #79a2f4);
    --dark-accent: linear-gradient(90deg, rgb(70, 138, 202), rgb(27, 56, 153), rgb(0, 166, 255));
    --accentr: linear-gradient(180deg, #ffc23c, #fe759b, #ce7fbd, #79a2f4);
}

body {
    line-height: 1.3em;
    font-size: 18px;
}

@layer components {
    .light-accent {
        background: linear-gradient(90deg, #ffc23c, #fe759b, #ce7fbd, #79a2f4);
        color: transparent;
        background-clip: text;
    }

    .dark-accent {
        background: linear-gradient(90deg, rgb(70, 138, 202), rgb(27, 56, 153), rgb(0, 166, 255));
        color: transparent;
        background-clip: text;
    }

    .light-link, .dark-link {
        background-size: 100%;
        border-radius: 0.3em;
        padding: 0 0.25em;
        text-transform: uppercase;
        font-weight: 800;
    }

    .light-link strong {
        color: var(--text-light);
        background: none;
    }

    .light-link:hover {
        color: var(--bg-light);
        background-clip: border-box;
    }

    .dark-link strong {
        color: var(--text-dark);
        background: none;
    }

    .dark-link:hover {
        color: var(--bg-dark);
        background-clip: border-box;
    }


}